<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} {% for msg in messages %}
      <div
        class="alert {% if msg.tags == 'error' %}alert-danger{% elif msg.tags == 'success' %}alert-success{% else %}alert-warning{% endif %} alert-dismissible fade show"
        role="alert">
        <strong>اهلاً، </strong>{{ msg }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="close"></button>
      </div>
      {% endfor %}
      <a href="{% url 'login' %}">تسجيل دخول</a>
      <a href="{% url 'pro' %}">المنتجات</a>
      {% if request.user.is_authenticated %}
      <p>مرحبا {{ request.user.username }}</p>
      <a href="{% url 'logout' %}">تسجيل الخروج</a>

      <h1>اضافة منتج</h1>
      <form method="POST">
        <input type="text" name="name" />
        <input type="number" name="price" />
        <button type="submit">اضافة المنتج</button>
      </form>
      {% endif %}
    </form>
  </body>
</html>
