<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for msg in messages %}
    <div
      class="alert {% if msg.tags == 'error' %}alert-danger{% elif msg.tags == 'success' %}alert-success{% else %}alert-warning{% endif %} alert-dismissible fade show"
      role="alert">
      <strong>اهلاً، </strong>{{ msg }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="close"></button>
    </div>
    {% endfor %}
    <p>name: {{p.name}}</p>
    <br />
    <p>price: {{p.price}}</p>
    <br />
    <form method="POST">
      {% csrf_token %}
      <label>تعليق</label>
      <input type="text" name="comment" />
      <br />
      <label>التقييم</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit">اضافة</button>
    </form>
    <h3>التعليقات</h3>
    {% for c in c %}
    <p>{{c.comment}}</p>
    <br />
    <p>{{c.rating}}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'edit' c.id %}">تعديل</a>
    <a href="{% url 'delete' c.id %}">حذف</a>
    {% endif %} {% endfor %}
  </body>
</html>
